{% extends "layout.html" %}
{% block content %}
padding-top: 5000px;
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload A Data File</h3>
      </div>
      <hr/>
      <div>

      <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />

      <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file1"><br /><br />

        <input type="submit" value="Upload">
      </form>
      </form>
      </div>
    </div>
{% endblock content %}