{% extends "layout.html" %}
{% block content %}
padding-top: 10000px;

<h1>Report</h1>


<ul>
    <li>Upload Time:{{upload_time}}</li><br>
    <li><p>Earliest Accounting Date:</p>{{earliest_date}}</li><br>
    <li><p>Recent Accounting Date:</p>{{recent_date}}</li>
</ul>
<ul>
    <li>Number of rows removed: {{number_of_rows_removed}}</li>
</ul>
<p>Summary Statistics:</p>
<div class="col-md-6 offset-md-3">
    {{ tables.to_html(classes="table table-striped") | safe}}
</div>
<hr>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="col-md-6 offset-md-3" style="height:480px; width:700px;padding-top: 30px;padding-bottom: 20px;background-color:black">
    <div class="card">
        <div class="card-body">
            <canvas id="myChart" width="50px" height="30px" style="height:50px; width:50px;padding-top: 50px;padding-bottom: 50px"></canvas>
        </div>
    </div>
</div>
<script>
var ctx = document.getElementById('myChart');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['June','July','August','September','October','November'],
    datasets: [
      {
        label: '{{values[0]}}',
        data: [{{counts1[0]}} ,{{counts2[0]}},{{counts3[0]}},{{counts4[0]}},{{counts5[0]}},{{counts6[0]}}],
        backgroundColor: "#caf270",
      },
      {
        label: '{{values[1]}}',
        data: [{{counts1[1]}},{{counts2[1]}},{{counts3[1]}},{{counts4[1]}},{{counts5[1]}},{{counts6[1]}}],
        backgroundColor: "#45c490",
      },
      {
        label: '{{values[2]}}',
        data: [{{counts1[2]}},{{counts2[2]}},{{counts3[2]}},{{counts4[2]}},{{counts5[2]}},{{counts6[2]}}],
        backgroundColor: "#008d93",
      },
        {
        label: '{{values[3]}}',
        data: [{{counts1[3]}},{{counts2[3]}},{{counts3[3]}},{{counts4[3]}},{{counts5[3]}},{{counts6[3]}}],
        backgroundColor: "#2e5468",
      }
    ]
  },
  options: {
    scales: {
      xAxes: [{ stacked: true }],
      yAxes: [{ stacked: true }]
    },
      title: {
            display: true,
            text: 'Sales By Volume'
        }
  }
});
</script>

{% endblock content %}
